h5py==3.11.0
hyperopt==0.2.7
matplotlib==3.8.4
networkx==3.6.1
networkx==3.4.2
networkx==3.2.1
numpy==2.4.6
pandas==3.0.3
sympy==1.13.1
sympy==1.14.0
sympy==1.12
torch==2.9.1
torch==2.6.0
torch==2.8.0
torch==2.4.0+cu124
tqdm==4.67.1
tqdm==4.67.3
tqdm==4.66.4
visdom==0.2.4
